.PartnersCon{
    color: black;
    text-align: start;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.partnersImg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

}
.partnersImg img{
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 900px) {
    
    .partnersImg{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 500px) {   
    .partnersImg{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}