.supportUsContainer {
    background-color: #FF97D0;
    padding: 40px;
    color : black;
}
.suportUsCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.supportUsinfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.peoples{
    max-width: 250px;
    max-height: 400px;
}
.peoples img{
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 700px) {
    
    .supportUsinfo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    
}
@media screen and (max-width: 500px) {
    
    .supportUsinfo{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    
}