.teamsCon{
    color: black;
}
.teamCon{
    display: flex;
    justify-content: center;
}
.teams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.info{
    padding: 20px;
}
.teams img{
    max-width: 200px;
    max-height: 200px;
}
.team{
    background-color: yellow;
    border: 5px solid black;
    max-width: 250px;
    max-height: 300px;
}
@media screen and (max-width: 900px) {
    
    .teams{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
@media screen and (max-width: 500px) {
    
    .teams{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}